// app-color_ Hex color code - alpha parameter

$app-color_000000-15: rgba(0, 0, 0, 0.15);
$app-color_000000-50: rgba(0, 0, 0, 0.5);
$app-color_000000-87: rgba(0, 0, 0, 0.87);
$app-color_000000: #000000;
$app-color_00bdd3: #00bdd3;
$app-color_00bed3-10: rgba(0, 189, 211, 0.1);
$app-color_232f34: #232f34;
$app-color_7e7e7e: #7e7e7e;
$app-color_9f9f9f: #9f9f9f;
$app-color_ababab: #ababab;
$app-color_cb3d40: #cb3d40;
$app-color_d0cfcf: #d0cfcf;
$app-color_e0e0e0: #e0e0e0;
$app-color_f4e041: #f4e041;
$app-color_f8f8f8: #f8f8f8;
$app-color_fafafa: #fafafa;
$app-color_ffe302: #ffe302;
$app-color_ffffff-87: rgba(255, 255, 255, 0.87);
$app-color_ffffff: #ffffff;
